<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head.ejs') %>
</head>

<body>
    <h1><%= title %></h1>
    <p>Your todo list is:</p>
    <ul><% descriptions.forEach(todo => { %>
        <li><%= todo.description %></li>

        <%}) %>

    </ul>

    <form action="/api/todos" meathod="POST">
        <label for="Todo"></label>
    <input type="text">
    <button>Submit</button>
    </form>

<%- include('partials/pageend.ejs') %>

</body>

</html>